body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
header {
    width: 100%;
    position: static;
    height: 80px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

header img {
    height: 300px;
    padding: 10px;
}

nav {
    text-align: right;
    flex-grow: 1;
    padding-right: 10px;
    padding: 20px 20px;
}

.nava {
    display: inline-flex;
    padding: 20px 20px;
    padding-right: 20px;
}

.banner-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.banner-container img {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding-top: 50px;
    opacity: 2;
}

.banner-container h1 {
    Font-Family: 'Julius Sans One', Sans-Serif;
    font-size: 30px;
    text-align: center;
    width: 100%;
    letter-spacing: 1.5px;
    padding: 60px 10px 0px 10px;
    margin: 0px auto;
}

.shop {
    display: flex;
    margin: 100px;
    justify-content: center;
    align-items: flex-start;
}

.summary {
    padding: 0 1rem;
    margin: 4em auto;
}

.event-title {
    Font-Family: 'Julius Sans One', Sans-Serif;
    font-size: 28px;
    text-align: center;
    margin: 40px;
}

.photos {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 40px;
    scroll-behavior: inherit;
}

.photos img {
    height: 300px;
    width: 300px;
    margin: 10px 10px;
}

.testimonial {
    height: 10rem;
    padding: 0 1rem;
    padding-top: 1rem;
    margin-top: 4em;
}

.meetup {
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 20px;
    padding-top: 16px;
}

.foot-bar {
    display: inline-flex;
    padding: 20px 30px;
    align-items: center;
}
  
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(156, 165, 173);
    padding-left: 15px;
}

a {
    color: black;
    font-size: 18px;
}

a:hover {
    color: rgb(218, 10, 10);
    cursor:pointer;
}

#green:hover {
    color: rgb(66, 150, 41);
    box-shadow: 5px 10px rgba(66, 150, 41, 0.37);
    cursor: pointer;
}

